<div id = 'content_pages'>

<h1>dateGame</h1>

Zwei Random Dinger:
	<select name="likecb" size="3">
      <option><%= @like1.group %></option>
      <option><%= @like2.group %></option>
	</select>

</div>




