<div id = 'content_pages'>

<h1>dateGame</h1>

Zwei Random Dinger: <br/>
	<select name="likecb" size="3">
      <option><%= @like1.group %></option>
      <option><%= @like2.group %></option>
	</select>

	<label for="theme">Theme:</label>
    	<% [@like1.group, @like2.group].each do |theme| %>
      <br><%= radio_button_tag 'theme', theme, @theme == theme %>
      <%= theme.humanize %>
    <% end %>


</div>




