<h1>Deine Interessen: </h1>
<table>
<% @user_likes.each do |like| %>
<% @like = Like.find_by_group(like) %>
<tr>
<td><%= @like.group %></td>
<td><%= @like.name %></td>
</tr>
<% end %>

</table>