<h1>Deine Interessen: </h1>
<table>
<% current_facebook_user.likes.each do |item| %>
<% @user_like = Like.where("name == #{item.name}").order("count DESC") %>
<tr>
<td><%= @user_like.group%></td>
<td><%= @user_like.count %></td>
</tr>
<% end %>

</table>