<div id = "profile_left">
	<div class ="margin-left">
		<p>
		<h1><i>my Profile </i></h1>
			<% if session[:user_name] %>
				<%= current_facebook_user.name %>
		</p>
		<p>
	<div id = "profilepic">
				<%= image_tag("http://graph.facebook.com/#{current_facebook_user.id}/picture", :size=> "80x80")%>
			<% end %>
		</p>
	</div>
	</div>
</div>
