<h1>hallo2</h1>
<p>
youridea.de ist a student project, based on a software engeneering lesson at the HWR Berlin. Our vision is to connect students with basic knowledge with people having great ideas but missing know-how about how to set up their ideas.
<p> 
<p>
The main goal is to keep costs and efforts low so that you can easily do <b>what you have to do!</b>
<p>
<%= link_to "back", root_path%>