<div id ='content_pages'>
    <blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
    <small>Dr. Julius Hibbert</small>
    </blockquote>
 </div>


  