<div id = 'index_title'>
<h1>youridea.de</h1>
<p>
Youre looking for some help to set up your business idea? Or are you able to support <br/>
further projects? <br/>

Sign up and look for other students to do <b>what you have to do!</b> 
<p>
</div>

  