/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body{
     margin:0;
}

#nav_top_area{
    background-color: #2D2D2D;
    height: 30px;
}
#nav_top_area ul{
    padding-top: 3px;
    margin-top:0;
    list-style-type: none;
    margin-left: 100px;
}
#nav_top_area ul li{
    display:inline-block;
    margin-right: 20px;
}
#nav_top_area a{
    color: white;
    text-decoration: none;
}
#nav_top_area a:hover{
    color: grey;
}
#friend_finder{
    font-weight: bold;
    font-size: 120%;
}

#index_title{
    color: grey;
    margin-left: 80px;
}
#index-title p{
    font-style: italic;
}

