/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree.
*/

body{
     margin:1px;
}
body h1{
    color: #1E5799;
}

#nav_top_area{
    width: 100%;
    height: 70px;
    padding-top:1px;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */


}
#nav_top_area ul{
    list-style-type: none;
    margin-left: 100px;
    margin-top: 25px;
}
#nav_top_area ul li{
    display:inline-block;
    margin-right: 20px;
}
#nav_top_area a{
    font-size:140%;
    color: white;
    text-decoration: none;
}
#nav_top_area a:hover{
    color: #DD5454;
}
#title{
    font-weight: bold;
    font-size: 160%;
}

#profile_left{
    background-color: #79B7E7;
    float:left;
    border-right: 4px solid #66AAE0;
    width: 250px;
    height: 500px;
}
#profile_left h1{
    margin-left: 20px;
}

#profilepic{
    margin-left:30px;
}

#content_pages{
 margin-left:290px;
}
#content_pages a{
    font-weight:bold;
    text-decoration: none;
    color: #DD5454;
}
#content_pages a:hover{
    text-decoration: underline;
}
.margin-left{
    margin-left: 20px;
}
