<div id = 'nav_top_area'>
  <ul>
      <li><div id='title'><%= link_to "dategame", root_path %></div></li>
      <li> | </li>
      <li><%= link_to "Regeln", about_path %></li>
      <%= if session[user_name] == current_facebook_user.name %>
      <li> | </li>
      <li><%= link_to "Spielen", root_path %> </li
      <% end %>
  </ul>
</div>




