<div id = 'nav_top_area'>
  <ul>
      <li><div id='title'><%= link_to "dategame", root_path %></div></li>
      <li> | </li>
      <li><%= link_to "Spielen", '/game/index' %></li>
      <li> | </li>
      <li><%= link_to "Meine Interessen", games_show_path %></li>
  </ul>
</div>




