<!DOCTYPE html>
<html>
<head>
  <title>SoftwareProject</title>
  <%= stylesheet_link_tag 'application' %>


 
</head>
<body>
	<%= render 'layouts/navitop' %>
	<div class="sidebar">
		<%= render 'layouts/profile_left' %>
	</div>
	<div class = "content">
		<%= yield %>
	</div>
		
	

</body>
</html>
