<!DOCTYPE html>
<html>
<head>
  <title>SoftwareProject</title>
  <link rel="stylesheet/less" type="text/css" href="lib/bootstrap/bootstrap.less">
 
</head>
<body>
	
	<% render 'layouts/navitop' %>
	
<div class="container-fluid">
	<div class="sidebar">
		<%= render 'layouts/profile_left' %>
	 </div>
	 <div class="content">
		<%= yield %>
	</div>
</div>
  		
  		
  		

</body>
</html>
