<!DOCTYPE html>
<html>
<head>
  <title>SoftwareProject</title>
  <link rel="stylesheet/less" type="text/css" href="lib/bootstrap/bootstrap.less">
 
</head>
<body>

	<%= render 'layouts/profile_left' %>
	<%= render 'layouts/navitop' %>
	<%= yield %>

  		
  		
  		

</body>
</html>
