<!DOCTYPE html>
<html>
<head>
  <title>SoftwareProject</title>
  <% stylesheet_link_tag 'application' %>

 
</head>
<body>
	
		<%= render 'layouts/navitop' %>
		<%= render 'layouts/profile_left' %>
		<%= yield %>

  		
  		
  		

</body>
</html>
