<!DOCTYPE html>
<html>
<head>
  <title>SoftwareProject</title>
  <% stylesheet_link_tag 'bootstrap' %>

 
</head>
<body>
	
	<% render 'layouts/navitop' %>

<div class="container-fluid">
	<div class="sidebar">
		<%= render 'layouts/profile_left' %>
	 </div>
	 <div class="content">
		<%= yield %>
	</div>
</div>
  		
  		
  		

</body>
</html>
